<h1>Contact Us</h1>
	<p>
		Got any shitty questions?
		Contact Mike Jones at 281-330-8004

		or refer to our <a href="http://localhost:3000/static_pages/FAQ"> FAQ</a> to get some dusty answers
	</p>


