
<h1> Frequently Asked Questions or FAQ</h1>
	<p>
		What the hell do you want?

		Nothing, this website doesn't do shit yet.
	</p>

	<p>
		What are your three wishes?
			<ul>
				<li>Rule number 1: Never marry wife.</li>
				<li>Rule number 2: Always drink brew.</li>
				<li>Rule number 3: Hang with dirt nasty</li>
			</ul>
	</p>
